
<section class="card card-body">
  <a href="/post/{{id}}">
    <header class="post-title">{{title}} <p id="post-author">Posted by {{user.username}} on {{post_date}}</p>
</header>
  </a>
  <button class="btn-no-style mx-auto dash_delete_btn" type="submit" value="{{id}}">Delete</button>
  <script src="/js/deleteUpdate.js"></script>
</section>
